@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: white;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

#footer1{
  padding-top: 3rem !important;
  margin-bottom: 0 !important;
  margin-top: 50rem !important;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}


/** cart.html **/
.cart-title{
  margin-top: 15vh;
}

.cart-title-text{
  text-align: center;
  
}
#cartDisplay{
  margin-top: 15vh;
}
.cart-item{
  margin-left: 0;
  margin-right: 0;
  max-width: 20%;
}
.cart-img{
  max-width: 100%;
  max-height: auto;
  justify-self: right;
}

.cart-itemName{
  text-align: left;
}

.cart-checkout{
  margin-top: 5vh;
  margin-right: 20%;
  margin-left: 70%;
  
}

.cart-checkout-btn{
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.281);
}




.container-fluid{
    padding: 0;
}



.customclass {
    width: 100%;
    height: 800px;
    max-height: 80%;
    padding: 0% !important;
}

.introtext {
    color: white;
    font-size: 10vw;
    text-justify: auto;
}
.introp{
    color:white;
    font-size: 5vw;
    text-align: center;
}
body{
    
    background-color:rgb(255, 255, 255);
}

/** Main Contet CSS **/

.headtext{
    text-align: center;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maintext{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.linebreak{
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #969696;;
}
.imgresize{
    width: 100%;
    max-height: 100%;
    align-content: flex-start;
}
/**Side Menu **/
.sidemenu{
    width: 30%;
    border-right: 20px;
    border-left: .5vw;
    border-color: black;
    margin-top: 2vw;
}

.linebreak-vertical{
    border-style: solid;
    border-top: none;
    border-left: none;  
    border-bottom: none;
    border-color:rgb(105,105,105,0.5);
    border-width: 1px;
    border-radius: 0;
    padding-right: 5%;
}
.h5-style{
    border-style: solid;
    border-radius: 10%;
    border-width: 1.5px;
    border-top: none;
    border-right: none;
    border-left: none;
    
}

/** Shop page Banner **/
.banner{
    background-image: url(./data/product/imgs/shop_now_action_small_device.gif); 
    min-height: 200px; 
    width: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

/** Displaying products classes **/
.margin-constraints{
    margin-top: 2vw;
}
.parent {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: rgb(132,205,202,0.1);
  
}
.flexchild{
    flex: 1;
}

.product-contain{
    margin-left: 50px;
    margin-top: 2vw;
}
.product-grid{
    font-family: 'Open Sans',sans-serif;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #D6D6D6;
    margin-bottom: 5vw;
}
.product-grid .product-image{
    overflow: hidden;
    position: static;
}
.product-grid .product-image a{
    display: block;
}
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-image .pic-1{
    opacity: 1;
    transition: all .5s;
    height: auto;
}
.product-grid:hover .product-image .pic-1{opacity:.8}
.product-image .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid:hover .product-image .pic-2{opacity: 100}
/**product info css **/
.product-grid .product-content{padding: 20px 10px; text-align: center;}
.product-grid .title{
    font-size: 17px;
    margin: 0 0 7px;
}
.product-grid .title a{color:#303030}
.product-grid .price{
    color:#303030;
    font-size: 15px;
}




 /**Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .introtext{
        padding-top: 10vh;
        color: white;
        font-size: 22vw;
        text-align: center;
        text-justify: auto;
        }

    .introp{
    color:white;
    font-size: 15vw;
    text-align: center;
}
}

/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/**Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .banner{
    background-image: url(./shop_now_action.gif); 
    min-height: 400px; 
    width: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    }
}

/**Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

