.container-fluid{
    padding: 0;
}


.customclass {
    width: 100%;
    height: 800px !important;
    padding: 0% !important;
}

.introtext {
    color: gainsboro;
    font-size: 10vw;
    text-justify: auto; 
}
.introp{
    color:gainsboro;
    font-size: 5vw;
    text-align: center;
    text-justify: auto;
}
body{
    background-color: #c4c4c4;
}