
<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:rgb(255, 255, 255);">
  <div>
    <h1 style="font-family:'Segoe UI';"><a class="nav-link" href="/index.html" style="color:black"> G - Masks</a></h1>
  </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"> 
      <span class="navbar-toggler-icon"></span>
    </button> 
  <div class="collapse navbar-collapse"> 
    <ul class="navbar-nav ml-auto" id="navbarmenu">
      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/Login.html">Login</a>
      </li>
      <li id = "cartButton" class="nav-item">
        
          <a class="nav-link" href="/cart.html">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop.html">Shop</a>
      </li>
    </ul>
  </div>
  
</nav>